:root {
  --primary: #000000;
  --secondary: #800080;
  --tertiary: #101010;
  --text: #ffffff;
  --description: #d6d6d6;
  --secondary-shadow: rgba(128, 0, 128, 0.499);
  --extra-small-radius: 0.5rem;
  --small-radius: 1.5rem;
  --medium-radius: 2.5rem;
  --large-radius: 3.5rem;
  --extra-small: 0.5rem;
  --small: 1.0rem;
  --medium: 1.5rem;
  --large: 2.0rem;
  --extra-large: 2.5rem;
}

.social-icon {
  font-size: 30px;
  background: #0077B5;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.instagram-icon {
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Imposta un colore di sfondo semitrasparente */
  display: none; /* Imposta il display a flex per abilitare la centratura */
  justify-content: center; /* Centra il contenuto orizzontalmente */
  align-items: center; /* Centra il contenuto verticalmente */
  z-index: 9999; /* assicura che sia sopra ogni altra cosa */
}


#loader {
  height: 15px;
  aspect-ratio: 5;
  --_g:no-repeat radial-gradient(farthest-side,#800080 94%,#00000000);
  background: var(--_g),var(--_g),var(--_g),var(--_g);
  background-size: 20% 100%;
  animation:
    l40-1 .75s infinite alternate,
    l40-2 1.5s infinite alternate; 
}
@keyframes l40-1 {
  0%,
  10% {background-position: 0 0,0 0,0 0,0 0}
  33% {background-position: 0 0,calc(100%/3) 0,calc(100%/3) 0,calc(100%/3) 0}
  66% {background-position: 0 0,calc(100%/3) 0,calc(2*100%/3) 0,calc(2*100%/3) 0}
  90%,
  100% {background-position: 0 0,calc(100%/3) 0,calc(2*100%/3) 0,100% 0}
}
@keyframes l40-2 {
  0%,49.99% {transform: scale( 1)}
  50%,100%  {transform: scale(-1)}
}

body {
  padding-right: 0 !important;
  padding-left: 0 !important;
  padding-top: 0 !important;
  animation: fadeIn 2s ease-in forwards;
}

body::-webkit-scrollbar {
  display: none !important;
  /* Nascondi la scrollbar */
}

.shadow {
  box-shadow: 0px 0px 100vh var(--secondary-shadow) !important;

}

.apdev-color {
  color: #800080;
  font-weight: medium;
}

ì.example::-webkit-scrollbar {
  display: none;
}

.example {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.dark {
  background-color: var(--primary);
}

p {
  color: var(--description);
}

h1 h2 h3 h4 h5 h6 {
  color: var(--text);
}

.separator {
  height: 10vh;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.br-line {
  position: relative;
  overflow: hidden;
  height: 10vh;
  width: 3px;
  background: var(--secondary);
  right: 0;
  left: 0;
  margin: 0 auto;
  z-index: 1;
  width: 2px;
  height: 100%;
  background-color: transparent;
  position: relative;
  overflow: hidden;
}

.br-line::after {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--secondary-shadow);
  animation: slideLine 4s linear infinite;
}

@keyframes slideLine {
  0% {
    top: -100%;
  }

  100% {
    top: 100%;
  }
}


.main-container>:last-child {
  margin-bottom: 0;
}

.navbar {
  transition: box-shadow 0.6s ease;
  background-color: var(--primary);
  padding-top: 0.0rem;
  padding-bottom: 0.0rem;


}

.navbar:not(.sticky-top) .navbar-icon {
  display: none;
}


.shadow {
  box-shadow: 0px -25px 70px rgba(255, 255, 255, 0.534) !important;
}

.nav-link {
  margin-right: 10px;
  color: var(--text);
  transition: color 0.7s ease, border-bottom 1.5s ease;
  font-size: 15px;
  font-weight: 600;
  font-family: system-ui;
  position: relative;
}

.nav-item {
  color: white;
}



.nav-link.selected {
  color: white;
  background-color: transparent;
}
.navbar-icon {
  width: 70px;
  height: 70px;
}

.landing-section {
  min-height: calc(100vh - 120px);
  /* Altezza minima del viewport meno l'altezza della barra di navigazione */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: relative;
}


.head-content {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}


.head-content h1 {
  font-size: 9vw;
  font-weight: 600;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100wv;
  background: var(--secondary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 100% 100%;
  /* Aggiunta */
}

.head-content p {
  font-size: 4.5vw;
  font-weight: 300;
  background: linear-gradient(to top right, var(--text) 0%, var(--description) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 100% 100%;
  /* Aggiunta */
  margin-top: -20px !important;
  margin-bottom: 5rem !important;
}




.separator {
  display: block;
  width: 100%;
  box-sizing: border-box;
  /* Ensure padding does not increase the width */
}




@media (min-width: 960px) {
  .main-container {
    padding-left: 50px;
    padding-right: 40px;
    margin-top: 5rem;
  }
}

@media (min-width: 640px) {
  .main-container {
    padding-left: 20rem;
    padding-right: 20rem;
  }
}

.main-section {
  display: flow-root;
  box-sizing: border-box;
  animation: fadeIn 4s ease forwards;
}

.section-title {
  margin-bottom: 60px !important;
  position: relative;
  color: var(--text);
}

.main-grid {
  display: flex;
  flex-wrap: wrap;
  margin: 30;
  padding: 0;
  list-style: none;
}

.main-grid-column-medium .main-grid-medium {
  margin-left: 0px;
}


@media (min-width: 960px) {
  .main-child-width-1-2\@m>* {
    width: 50%;
  }
}

@media (min-width: 640px) {
  .main-child-width-1-1\@s>* {
    width: 100%;
  }
}

[class*=uk-child-width]>* {
  box-sizing: border-box;
  width: 100%;
}

.main-grid-item-match,
.main-grid-match>* {
  display: flex;
  flex-wrap: wrap;
}

.main-grid-column-medium>*,
.main-grid-medium>* {
  padding-left: 30px;
}

@media (min-width: 1200px) {
  .main-grid>* {
    padding-left: 40px;
  }
}

.main-grid>* {
  padding-left: 30px;
}

.main-grid>* {
  margin: 0;
}

.main-grid-item-match>:not([class*=main-width]),
.main-grid-match>*>:not([class*=main-width]) {
  box-sizing: border-box;
  width: 0px;
  flex: auto;
}

.main-grid>*>:last-child {
  margin-bottom: 0;
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: var(--primary);
  padding-left: 40px;
  padding-right: 40px;
}

/* HEADER */

@keyframes fadeIn {
  from {
    opacity: 0;
    /* Da opacità 0 */
  }

  to {
    opacity: 1;
    /* A opacità 1 */
  }
}



.head-content p {
  margin-top: 30px;
  margin-bottom: 30px;
}


.btn-primary {
  background-color: var(--secondary);
  padding: 16px;
  border-radius: 8px;
}

/* FEATURE HEADER */

@media (max-width: 768px) {
  .main-section .row {
    margin-right: 0px;
    margin-left: 0px;

  }

  .main-section .mr-4,
  .mx-4 {
    margin-right: 0.5rem !important;
    margin-left: 0.5rem !important;

  }

  .main-section .service-card {
    margin-bottom: 1.5rem;
  }
}


.main-services {
  margin-top: 0rem;
}

.main-services .main-section {
  padding-top: 0px !important;
  padding: 0% !important;
  min-height: auto;
}


.service-card .bar {
  position: relative;
  z-index: 1;
  background: var(--secondary);
  width: 55px;
  height: 3px;
  transition: .5s;
  margin-top: 7px;
  margin-bottom: 20px;
}

.service-card h3 {
  font-size: 22px;
  font-weight: 700;
  position: relative;
  display: inline-block;
  margin-top: 22px;
}


.service-card {
  border-radius: 5%;
  background-color: var(--tertiary);
  padding-top: 5%;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 60px;
  padding-bottom: 25px;
  margin: 0px;
  color: whitesmoke;
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease;
  transform-origin: center;

}

.service-card:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 10px 10px var(--secondary-shadow);

}


.icon-container {
  width: 100%;
  scale: 0.80;
}



/* Service card nth-child */

.service-card:nth-child(2n) .bar {
  background: #ffffff;
}

.service-card:nth-child(2n) {
  background-color: var(--secondary);
}

.service-card hr {
  border: none;
  height: 1px;
  background: linear-gradient(to right, #ccc 50%, transparent 50%);
  /* inizia continua, poi diventa tratteggiata */
}

.service-card h2 {
  position: relative;
  display: inline-block;
}

.service-card p {
  color: var(--description);
  font-size: 15px;
}

.service-card h2:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #ccc;
  /* colore della linea tratteggiata */
  position: absolute;
  bottom: -5px;
  /* distanza dalla parte inferiore del titolo */
}


.jumbotron {
  background-color: black;
  color: whitesmoke;
}


.para {
  color: var(--description);
  font-size: 15px;
  margin-bottom: 30px;
  margin-top: 30px;
}

/* ABOUT */


.about-area {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
}

.about-container-description {
  padding-top: 0rem;
}

@media (min-width: 961px) {
  .about-area .container-fluid {
    padding-right: 0 !important;
  }
}

@media (min-width: 768px) {

  .about-container-description {
    padding-top: 5rem;
    padding-left: 1.5rem;
  }
}

.about-area .main-container {
  background-color: #4d008b;
  padding-right: 0px;
}

.about-content .section-title {
  margin-bottom: 40px !important;
}

.about-content .about-text {
  position: relative;
  padding-left: 65px;
}

@media (max-width: 961px) {
  .about-content .about-text {
    padding-left: 0px;
  }

  .about-container-description {
    padding-left: 0px;
  }
}


@media (max-width: 768px) {}

@media (max-width: 768px) {
  .about-content .about-text {
    padding-left: 0px;
  }

  .about-area .container-fluid {
    width: 100%;
    padding-right: 0.5rem;
    padding-left: 0.5rem;

  }
}

.about-content .about-text h3 {
  margin-top: 0;
  font-size: 20px;
  color: var(--text);
}

.about-img {
  position: relative;
  right: 0;
  top: 0px;
  width: 100% ;
  height: 50%;
  text-align: right;
  filter: grayscale(100%);
  transition: filter 0.5s ease;
  margin-left: auto;
  margin-right: 0px;
}

.about-img:hover {
  filter: grayscale(0%);

}


/* SERVICES SECTION */


.main-services .main-section {
  padding-bottom: 0% !important;
  margin: 0 !important;
  padding: 0 !important;
}

.main-services .main-container {
  padding-left: 10rem;
  padding-right: 10rem;
}

.services-area {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.services-container-description {
  padding-top: 0rem;
}

@media (max-width: 768px) {
  .main-services {
    margin-top: 0;
  }

  .main-services .main-container {
    padding-left: 2.0rem;
    padding-right: 2.0rem;
  }
}

.services-content .section-title {
  margin-bottom: 40px !important;
}

.services-content .about-text {
  position: relative;
  padding-left: 65px;
}


/* PROJECTS */


.projects-content .section-title {
  text-align: center;
}

/* Hide the scrollbar for Chrome, Safari and Edge */
.horizontal-scroll {
  display: flex;
  justify-items: center;
  background-color: transparent;
  height: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  scrollbar-width: none;
  /* for Firefox */
  -ms-overflow-style: none;
  /* for Internet Explorer and Edge */

}

.horizontal-scroll::-webkit-scrollbar {
  display: none !important;
  /* Nascondi la scrollbar */
}

.project-card {
  height: auto;
  text-align: center;
  position: relative;
  border-radius: var(--small-radius);
  background-color: var(--tertiary);
  padding: 1.5%;
  margin: 0px;
  color: whitesmoke;
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease;
  margin-left: 0.5rem;
  margin-right: 0.5px;
  opacity: 0;
  /* Imposta l'opacità a 0 per nascondere gli elementi */
  transition: 1s ease-in-out;
  /* Aggiunge una transizione di opacità */
}

.project-header-row {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


@media screen and (max-width: 768px) {
  .project-card {
    padding: 2.5%;
  }
}


.project-card.visible {
  opacity: 1;
  /* Quando l'elemento diventa visibile, imposta l'opacità a 1 */
}

.project-card:hover {
  background-color: var(--secondary-shadow);
  scale: 1.02;

}

.project-card.selected {
  margin-left: 1.15rem;
  margin-right: 1.15rem;
  scale: 1.05;
  background-color: var(--secondary);
  /* Cambia il colore di sfondo della card quando selezionata */
  transition: background-color 0.5s ease, scale 0.3s ease, margin-right 0.3s ease, margin-left 0.3s ease;
}

.project-card h5 {
  white-space: normal;
  margin-bottom: 0 !important;
}

.project-card p {
  margin-bottom: 0px !important;
}

.project-header-row {
  display: flex;
  /* Imposta il display a flex per attivare il layout flessibile */
  flex-wrap: wrap;
  text-align: center;
}

.project-description {
  padding-top: 0.0rem;
}

.project-details {
  opacity: 0;
  transition: opacity 1s ease;
}

.project-details.show-details {
  opacity: 1;
}

.project-details-container {
  height: auto;
  margin-left: 2.5rem !important;
  margin-right: 2.5rem !important;
  background-color: #101010;
  padding: 2.5rem;
  border-radius: var(--small-radius);
  box-shadow: 0px 0px 100vh var(--secondary-shadow) !important;

}

.project-details-container .project-description {
  padding-top: 0.0rem;
}

.project-field {
  color: var(--text);
  background-color: var(--secondary-shadow);
  text-align: center;
  border-radius: var(--medium-radius);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.project-details h3 {
  color: var(--text);
}

.project-detaill-info {
  color: var(--text);
  font-size: medium;
  font-weight: 300;

}

.horizontal-scroll .project-card:first-child {
  margin-left: 1.85rem !important;
}

.horizontal-scroll .project-card:last-child {
  margin-right: 2.5rem !important
}

/* CONTACT AREA */

.main-contact {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.contact-area-container {
  padding-left: 1.0rem;
  padding-right: 1.0rem;
  padding-top: 1.0rem;
}

.main-contact .contact-area-container h2 {
  color: var(--text);
  padding-bottom: var(--small);

}

.main-contact .form-group {
  margin-bottom: var(--extra-large);
}


.main-contact .form-label {
  color: var(--text);
  background-color: var(--secondary-shadow);
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-bottom: var(--small);
  border-radius: var(--medium-radius);
}


.main-contact .form-control {
  border-radius: var(--small-radius);
  background-color: var(--tertiary);
  padding-left: var(--small);
  padding-top: var(--medium);
  padding-bottom: var(--medium);
  transition: padding-left 0.2s ease;
  color: var(--text);
  border: 0px;
}


.main-contact .form-control:focus {
  border: transparent;
  box-shadow: none;
  outline: none;
  padding-left: var(--medium) !important;
}

.main-contact .services-check {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

@media screen and (max-width: 768px) {
  .main-contact .form-check {
    margin-bottom: var(--small);
    align-items: center;
    justify-content: center;
    align-items: center;

  }

  .main-contact .services-check {
    flex-flow: column;
  }

  .main-contact .row {
    flex-direction: column;
  }

  .contact-area-container {
    padding-left: 0rem;
    padding-right: 0rem;
    padding-top: 1rem;
  }

  .padding {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }
}

.main-contact .form-check {
  padding-top: var(--extra-small);
  padding-bottom: var(--extra-small);
  border-radius: var(--medium-radius);
  padding-left: var(--small);
  padding-right: var(--small);
  text-align: center
}

.main-contact .form-check:first-child {
  margin-left: 0%;
}

.main-contact .form-check input {
  margin-left: 0.25rem;
}

.main-contact .form-check label {
  padding-right: 0.25rem;
  color: var(--text);
}

.selected {
  background-color: var(--secondary);
  transition: background-color 0.3s ease;
  /* Transizione dello sfondo */
}

.not-selected {
  background-color: var(--tertiary);
  transition: background-color 0.3s ease;
  /* Transizione dello sfondo */
}

.main-contact .submit-button {
  color: var(--text);
  border: none;
  width: 50%;
  padding: var(--extra-small);
  background-color: var(--secondary-shadow);
  border-radius: var(--small);
}

footer p {
  text-align: center;
}